.firstDIV{
    color: red;
}

.secondDIV{
    color: blue;
}

#singledout{
    color: green;
    text-decoration: line-through;
}

h3 + ul {
    border: 4px dotted purple;
}

li a{
    color: orange;
}

li a[href="https://google.com"]{
    color: purple;
    border: 5px solid orange;
}