h1{
    text-align: center;
}
.art{
    margin: auto;
}
td{
    background-color: black;
    height: 300px;
    width: 150px;
    border: 6px solid white;
}
#one{
    background-color: #dad2d8;
}
#two{
    background-color: #325fa2;
}
#three{
    background-color: #143642;
}
#four{
    background-color: #EC9A29;
}
#five{
    background-color: #a8201a;
}