{% extends "basic_app/base.html" %}
{% load staticfiles %}
{% block body_content %}
<div class="bg-body-tertiary p-3 p-sm-5 mb-4">
    <div class="container">
        {% if registerd %}
          <h1>Thank you for registering.</h1>
        {% else %}
          <h1>Register here</h1>
          <h3>Fill out the form:</h3>

          <form action="post" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
          </form>
        {% endif %}
    </div>
</div>
{% endblock body_content %}