body{
    background-color: gray;
}

div{
    background-color: blue;
    border-color: orange;
    border-width: 4px;
    border-style: dotted;
}

p{
    color: yellow;
}

span{
    background: red;
    color: black;
}