body{
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Town_and_Country_fh000023.jpg/1280px-Town_and_Country_fh000023.jpg);
}

div{
    background-color: blue;
    border-color: orange;
    border-width: 4px;
    border-style: dotted;
}

p{
    color: yellow;
}

span{
    background: red;
    color: black;
}