{% extends "blog/base.html" %}
{% block content %}
    <div class="bg-body-tertiary p-3 p-sm-5 mb-4">
        <div class="container">
            <h2 class="display-4">Plsease Login!</h2>
            <h3>(Must be the superuser, Please check with the site admin)</h3>

            {% if form.errors %}
              <p>You username and password didn`t match. Please try again.</p>
            {% endif %}

            <form action="{% url 'blog:login' %}" method="POST">
                {% csrf_token %}
                {% form.asp_p %}
                <input type="submit" class="btn btn-primary" value="Login">
                <input type="hidden" name="next" value="{{next}}">
            </form>
        </div>
    </div>
{% endblock content %}